body {
  /* background-color: black; */
  background-image: url(../img/aniback2.gif);
  background-size: auto;
  background-repeat: repeat;
  color: white;
}

#play-btn {
  margin-left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
}
